.resumeRow{
	padding-bottom: 16px;
}
.resumeLeft{
	text-align: right;
	font-size: 18px;
	font-weight: 300;
}
.resumeHeader{
	font-size: 26px;
	font-weight: 500;
}
.resumeContent{
	font-size: 18;
	font-weight: 300;
}
#cathead{
	position: absolute; right: 40px; z-index: 0; top: -4px;
}
#paw1{
	position: absolute; right: 78px; z-index: 3; top: -2px;
}
#paw2{
	position: absolute; right: 45px; z-index: 3; top: -2px;
}

.slantDecorator{
    background-color: #7142f4; height: 100%; width: 70%; position: absolute; right: -90px; top: 0; transform: skew(-30deg);
}

.cardText{
    font-weight: 300;
}

@media only screen and (max-width: 768px) {
    .resumeLeft{
    	text-align: left;
    }
    .button2{
    	margin-left: auto;
    	margin-right: auto;
    	display: block;
    }
    .resumeLeft br{
    	display: none;
    }
    #cathead{
    	left: 250px;
    }
    #paw1{
    	left: 288px;
    }
    #paw2{
    	left: 255px;
    }
    .slantDecorator{
        display: none;
    }
    .cardText{
        display: none;
    }

}