body{
	color: #222222;
	font-family: 'Josefin Sans', sans-serif;
}
.container{
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}
.navbar{
	color: black;
	font-weight: 700;
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #222222;
}
a:hover{
	text-decoration: none;
	color: #7142f4;
}
.sectionTitle{
	font-size: 60px;
	font-weight: 700;
	text-align: right;
	float: left;
    z-index: 100;
	padding: 20px;
    position: relative;
}

#menu {
    display: none;
    cursor: pointer;
    padding: 20px;
    position: fixed;
    z-index: 9999;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #7142f4;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
@media only screen and (max-width: 576px) {
    #menu{
    	display: block;
    	z-index: 999;
    }
}

