
body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

.container{
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}
.navbar{
	color: black;
	font-weight: 700;
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #222222;
}
a:hover{
	text-decoration: none;
	color: #7142f4;
}
.button1{
    height: 40px; padding-left: 20px; padding-right: 20px; background-color: #7142f4; position: absolute; top: 50%; right: 0; margin-top: -20px; text-align: center; line-height: 42px; border-radius: 4px; color: white;
    transition: all .2s ease-in-out;
}
.button1:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.button2{
    height: 40px; padding-left: 16px; font-size: 18px; font-weight: 500; padding-right: 16px; color: #7142f4; background-color: white; text-align: center; line-height: 42px; border-radius: 4px; border: 1px #dddddd solid;
    transition: all .2s ease-in-out; width: 150px; margin-top: 42px;
}
.button2:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.sectionTitle{
	font-size: 60px;
	font-weight: 700;
	text-align: right;
	float: left;
    z-index: 100;
	padding: 20px;
    opacity: 1;
    position: relative;
}
#resumeContainer{
    position: relative;
}

#menu {
    display: none;
    cursor: pointer;
    padding: 20px;
    position: fixed;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #7142f4;
    margin: 6px 0;
    transition: 0.4s;
    position: relative;
    z-index: 20;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sectionHeader{
    display: inline-block;
    position: relative;
    font-size: 40px; 
    padding-top: 20px;
}

.projectNav{
    padding: 20px;
    color: black;
}
.homeLink{
    font-weight: 900;
}
.navLink{
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.carousel-inner{
    text-align: left;
    display: block;
}
.carousel-inner-left{
    vertical-align: top;
    display: inline-block; 
    width: 350px; 
    padding-left: 16px; 
    padding-top: 16px;
}

.projectPageTitle{
    font-size: 50px;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.textWidth{
    max-width: 700px;
    font-size: 16px;
}
.floater{
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0,  0, 0.3);
    max-width: 700px;
    background-color: white;
}
.rightInfo th, td {
    padding: 8px;
}
.rightInfo td{
    font-weight: 300;

}
.rightInfo th {
    text-align: right;
    font-weight: 700;
}


.pageSectionTitle{
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 16px;
    padding-top: 16px;
}

#footer{
    display: none;
}

#nav-down{
    width: 100%;
    height: 60px;
    top: -60px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.04);
    position: fixed;
    z-index: 100;
    opacity: 1;
    transition: top 0.2s ease-in-out;
}
.hideme{
    opacity: 0;
}

.projectCard{
    box-shadow: 0px 3px 10px rgba(0, 20, 40, 0.2);
    overflow:hidden;
    background-color: white;
    height: 380px; 
    width: 100%; 
    border-radius: 8px;
    margin-top: 20px;
    transition: box-shadow .2s ease-in-out;
    margin-bottom: 30px;
    position: relative
}
.projectCard:hover{
    box-shadow: 0px 20px 36px rgba(0, 20, 20, 0.25);
    color: black;
}
.cardTitle{
    font-size: 24px;
    font-weight: 300;
    margin-top: 4px;
}
.cardsubTitle{
    font-size: 18px;
    font-weight: 700;
    color: #7142f4;
    margin-top: 22px;
}

.projectImage{
    background-color: white;
    width: 100%;
    overflow: hidden;
    height: 300px;
    /*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
}

.carousel-control-prev{
  color: white; 
  font-size: 40px; 
  padding: 16px; 
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  opacity: .8;
}
.carousel-control-next{
  color: white; 
  font-size: 40px; 
  padding: 16px; 
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  opacity: .8;
}

@media only screen and (max-width: 576px) {
    #footer{
    	display: block;
    	z-index: 999;
    }
    .navLinks{
        display: none;
    }
    .myTitle::after{
        display: none;
    }
    .titlexx{
        display: none;
    }
    .sectionHeader{
        padding-top: 0px;
    }
    #nav-down{
        display: none;
    }
    .button2{margin-top: 0px;}
    
}

