body{
	color: #222222;
	font-family: 'Josefin Sans', sans-serif;
}
.container{
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}
.navbar{
	color: black;
	font-weight: 700;
	font-size: 14px;
}
a{
	color: #7142f4;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: #360EA4;
}
.sectionTitle{
	font-size: 60px;
	font-weight: 700;
	text-align: right;
	float: left;
	padding: 20px;
}